@font-face {
  font-family: Empires;
  src: url("../fonts/Empires.otf") format("opentype");
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

html {
  background: #08060b;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, p {
  font-family: Fira Code;
  color: #f4eeff;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Empires;
  font-size: 8rem;
}

h2 {
  font-size: 1.2rem;
  overflow: hidden;
  border-right: .15em solid #f4eeff;
  white-space: nowrap;
  width: 0;
  animation: typing 1s forwards;
}

#background {
  opacity: 0.5;
  overflow: hidden;
}

#container {
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 40%;
  left: 50%;
}

#content {
  display: inline-block;
}

#footer {
  margin-top: 1rem;
  text-align: center;
}

.fa-brands {
  margin: auto 0.5rem;
  font-size: 2rem;
  width: 2rem;
  text-align: center;
  text-decoration: none;
  color: white;
}

.fa-brands:hover {
  opacity: 0.7;
}